
.i-link1{
  color: #3968BE;
}

.i-link1:hover{
  color: black;
  opacity: 0.5;
}

.i-link-center:hover{
  color: black;
  opacity: 0.5;
}

.i-link2{
  color: #686D9C;
}

.i-link-center{
  color: #7D6E8A;
}

.i-link-input{
  color: #7C6E89;
}

.i-link2:hover{
  color: black;
  opacity: 0.5;
}

.i-link3{
  color: #98737C;
}

.i-link3:hover{
  color: black;
  opacity: 0.5;
}

.i-link4{
  color: #C5775B;
}

.i-link4:hover{
  color: black;
  opacity: 0.5;
}

slideshow{
  padding: 20px;
}


.button {
  display: block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.dark-modal .modal-content .modal-header .modal-body .modal-footer {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}
input{
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  }
